{% extends 'base.html' %}

{% block title %}Registro Index{% endblock %}
{% block clase %}active{% endblock %}

{% block content %} 
<div class="container-fluid">
    <form method="POST" action="#" enctype="multipart/form-data">
        {% csrf_token %}
       <div class="row ">
        <div class="form-group col-md-6">
            <label for="desde-text" class="col-form-label">Nombre:</label>
            {{form.nombre}}
        </div>
        <div class="form-group col-md-6">
            <label for="message-text" class="col-form-label">Apellido:</label>
            {{form.apellido}}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="desde-text" class="col-form-label">Celular:</label>
            {{form.Ncelular}}
        </div>
        <div class="form-group col-md-6">
            <label for="message-text" class="col-form-label">Fotografia:</label>
            {{form.fotografia}}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="desde-text" class="col-form-label">Correo:</label>
            {{form.correo}}
        </div>
            <div class="form-group col-md-3">
                <Button type="submit" class="btn btn-primary" style="margin-top: 37px;">CREAR CONTACTO</Button>
            </div>
    </div>
    </form>

        <div> 
     
          <table id="myTable" class="table text-center table-striped table-bordered myTable">
            <thead>
                <tr bgcolor="#bee5eb">
                    <th class="text-center">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Celular1</th>
                    <th scope="col">Fotografia</th>
                    <th scope="col">Correo</th>
                    <th scope="col">ACCIONES</th>
                </tr>
            </thead>
            
            {% for contacto in contactos  %}
                <tr class="text-center">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ contacto.nombre }}</td>
                    <td>{{ contacto.apellido }}</td>
                    <td>{{ contacto.Ncelular }}</td>
                    <td><img src="{{ contacto.fotografia.url }}" width="100px"></td>
                    <td>{{ contacto.correo }}</td>
                    <td class="btn-group">
                        <button class="btn btn-success" type="submit">Editar</button>
                        <button class="btn btn-danger" type="submit">Eliminar</button>
                          
                    </td>
                </tr>
            {% endfor %}
        </table>



        </div>
        </div>
        {% endblock %}